In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv('accident.csv')

In [2]:
df.shape

(200, 6)

In [3]:
df.head()

   Age  Gender  Speed_of_Impact Helmet_Used Seatbelt_Used  Survived
0   56  Female             27.0          No            No         1
1   69  Female             46.0          No           Yes         1
2   46    Male             46.0         Yes           Yes         0
3   32    Male            117.0          No           Yes         0
4   60  Female             40.0         Yes           Yes         0

In [4]:
df.tail()

     Age  Gender  Speed_of_Impact Helmet_Used Seatbelt_Used  Survived
195   69  Female            111.0          No           Yes         1
196   30  Female             51.0          No           Yes         1
197   58    Male            110.0          No           Yes         1
198   20    Male            103.0          No           Yes         1
199   56  Female             43.0          No           Yes         1

In [5]:
df.columns

Index(['Age', 'Gender', 'Speed_of_Impact', 'Helmet_Used', 'Seatbelt_Used',
       'Survived'],
      dtype='object')

In [6]:
df.isna().sum()

Age                0
Gender             1
Speed_of_Impact    3
Helmet_Used        0
Seatbelt_Used      0
Survived           0
dtype: int64

In [7]:
df.dtypes

Age                  int64
Gender              object
Speed_of_Impact    float64
Helmet_Used         object
Seatbelt_Used       object
Survived             int64
dtype: object

In [8]:
df['Speed_of_Impact'].unique

<bound method Series.unique of 0       27.0
1       46.0
2       46.0
3      117.0
4       40.0
       ...
195    111.0
196     51.0
197    110.0
198    103.0
199     43.0
Name: Speed_of_Impact, Length: 200, dtype: float64>

In [9]:
df['Gender']=df['Gender'].fillna(df['Gender'].mode()[0])
df['Speed_of_Impact']=df['Speed_of_Impact'].fillna(df['Speed_of_Impact'].mean())
df.isna().sum()

Age                0
Gender             0
Speed_of_Impact    0
Helmet_Used        0
Seatbelt_Used      0
Survived           0
dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder,StandardScaler
lab=LabelEncoder()
df['Gender']=lab.fit_transform(df['Gender'])
df['Helmet_Used']=lab.fit_transform(df['Helmet_Used'])
df['Seatbelt_Used']=lab.fit_transform(df['Seatbelt_Used'])

In [11]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1]

In [12]:
from sklearn.model_selection import train_test_split
x_trin,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=0)

In [13]:
scale=StandardScaler()
scale.fit(x_trin)
x_trin=scale.transform(x_trin)
x_test=scale.transform(x_test)

In [14]:
from sklearn.naive_bayes import BernoulliNB
model=BernoulliNB()
model.fit(x_trin,y_train)

BernoulliNB()

In [15]:
y_pred=model.predict(x_test)
y_pred

array([0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1], dtype=int64)

In [16]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
score=accuracy_score(y_test,y_pred)
cm
score

0.45