In [71]:
import numpy as np
import pandas as pd
df=pd.read_csv('mountains_vs_beaches_preferences.csv')
df

,Age,Gender,Income,Education_Level,Travel_Frequency,Preferred_Activities,Vacation_Budget,Location,Proximity_to_Mountains,Proximity_to_Beaches,Favorite_Season,Pets,Environmental_Concerns,Preference
0,56,male,71477,bachelor,9,skiing,2477,urban,175,267,summer,0,1,1
1,69,male,88740,master,1,swimming,4777,suburban,228,190,fall,0,1,0
2,46,female,46562,master,0,skiing,1469,urban,71,280,winter,0,0,1
3,32,non-binary,99044,high school,6,hiking,1482,rural,31,255,summer,1,0,1
4,60,female,106583,high school,5,sunbathing,516,suburban,23,151,winter,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52439,67,female,85325,master,3,hiking,1762,suburban,51,262,fall,1,0,1
52440,37,female,110346,bachelor,7,swimming,1676,urban,259,84,spring,1,0,0
52441,53,non-binary,71080,doctorate,7,swimming,3877,urban,164,27,fall,0,1,0
52442,40,female,75174,doctorate,9,swimming,4620,suburban,173,10,summer,0,1,0
52443,33,non-binary,34475,master,6,hiking,928,suburban,218,166,spring,1,0,0

In [72]:
df.shape

(52444, 14)

In [73]:
df['Preference'].value_counts()

Preference
0    39296
1    13148
Name: count, dtype: int64

In [74]:
df.dtypes

Age                        int64
Gender                    object
Income                     int64
Education_Level           object
Travel_Frequency           int64
Preferred_Activities      object
Vacation_Budget            int64
Location                  object
Proximity_to_Mountains     int64
Proximity_to_Beaches       int64
Favorite_Season           object
Pets                       int64
Environmental_Concerns     int64
Preference                 int64
dtype: object

In [75]:
df.isna().sum()

Age                       0
Gender                    0
Income                    0
Education_Level           0
Travel_Frequency          0
Preferred_Activities      0
Vacation_Budget           0
Location                  0
Proximity_to_Mountains    0
Proximity_to_Beaches      0
Favorite_Season           0
Pets                      0
Environmental_Concerns    0
Preference                0
dtype: int64

In [76]:
from sklearn.preprocessing import LabelEncoder
lab=LabelEncoder()
df['Gender']=lab.fit_transform(df['Gender'])
df['Education_Level']=lab.fit_transform(df['Education_Level'])
df['Preferred_Activities']=lab.fit_transform(df['Preferred_Activities'])
df['Location']=lab.fit_transform(df['Location'])
df['Favorite_Season']=lab.fit_transform(df['Favorite_Season'])
df.dtypes

Age                       int64
Gender                    int64
Income                    int64
Education_Level           int64
Travel_Frequency          int64
Preferred_Activities      int64
Vacation_Budget           int64
Location                  int64
Proximity_to_Mountains    int64
Proximity_to_Beaches      int64
Favorite_Season           int64
Pets                      int64
Environmental_Concerns    int64
Preference                int64
dtype: object

In [77]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [78]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=1)

In [79]:
#random over sampler
from imblearn.over_sampling import RandomOverSampler
from collections import Counter
#Check class distribution before oversampling
print("Class distribution before oversampling:", Counter(y_train))
ros= RandomOverSampler(random_state=42)
X_resampled, y_resampled = ros.fit_resample(x_train,y_train)
#Check class distribution after oversampling
print("Class distribution after oversampling:", Counter(y_resampled))

Class distribution before oversampling: Counter({0: 27448, 1: 9262})
Class distribution after oversampling: Counter({0: 27448, 1: 27448})

In [80]:
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()
scale.fit(x_train)
x_train=scale.transform(x_train)
x_test=scale.transform(x_test)

In [81]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
knn=KNeighborsClassifier()
navi=GaussianNB()
suport=SVC()
lst=[knn,navi,suport]

In [82]:
for i in lst:
    i.fit(x_train,y_train)
    y_pred=i.predict(x_test)
    print("confusion metrix is.......")
    print(confusion_matrix(y_test,y_pred))
    print("accuracy score is....")
    print(accuracy_score(y_test,y_pred))
    print("classification report....")
    print(classification_report(y_test,y_pred))
    print('*'*100)

confusion metrix is.......
[[11385   463]
 [  726  3160]]
accuracy score is....
0.9244311681708403
classification report....
              precision    recall  f1-score   support

           0       0.94      0.96      0.95     11848
           1       0.87      0.81      0.84      3886

    accuracy                           0.92     15734
   macro avg       0.91      0.89      0.90     15734
weighted avg       0.92      0.92      0.92     15734

****************************************************************************************************
confusion metrix is.......
[[11631   217]
 [  929  2957]]
accuracy score is....
0.9271641032159654
classification report....
              precision    recall  f1-score   support

           0       0.93      0.98      0.95     11848
           1       0.93      0.76      0.84      3886

    accuracy                           0.93     15734
   macro avg       0.93      0.87      0.90     15734
weighted avg       0.93      0.93      0.92     15734

****************************************************************************************************
confusion metrix is.......
[[11755    93]
 [  127  3759]]
accuracy score is....
0.986017541629592
classification report....
              precision    recall  f1-score   support

           0       0.99      0.99      0.99     11848
           1       0.98      0.97      0.97      3886

    accuracy                           0.99     15734
   macro avg       0.98      0.98      0.98     15734
weighted avg       0.99      0.99      0.99     15734

****************************************************************************************************